@define-color bakgrnd #070000;
@define-color frgrnd #E3E5FF;
@define-color selected #97A8AF;

@define-color color0 #080000;
@define-color color1 #677086;
@define-color color2 #657871;
@define-color color3 #C05A61;
@define-color color4 #87727E;
@define-color color5 #4F8B6B;
@define-color color6 #8388BF;
@define-color color7 #CFD2F7;
@define-color color8 #9193AD;
@define-color color9 #6F7B99;
@define-color color10 #658076;
@define-color color11 #EE4552;
@define-color color12 #A38495;
@define-color color13 #6AB98F;
@define-color color14 #AFB5FF;
@define-color color15 #CFD2F7;
