@define-color bakgrnd #141412;
@define-color frgrnd #EBFDF8;
@define-color selected #CEACA8;

@define-color color0 #3E3F3B;
@define-color color1 #AF4BAB;
@define-color color2 #A06E6C;
@define-color color3 #8F8B4A;
@define-color color4 #9F87BF;
@define-color color5 #BE8F82;
@define-color color6 #95BCB1;
@define-color color7 #DAF4ED;
@define-color color8 #99ABA6;
@define-color color9 #D23DCC;
@define-color color10 #B86B67;
@define-color color11 #BFB963;
@define-color color12 #D4B4FF;
@define-color color13 #FDBFAE;
@define-color color14 #C6FAEC;
@define-color color15 #DAF4ED;
