@define-color bg #1A1A15;
@define-color fg #B2ABAF;
@define-color selected #73977E;

@define-color color0 #4A4943
@define-color color1 #7E827B
@define-color color2 #588667
@define-color color3 #717576
@define-color color4 #816067
@define-color color5 #4B5259
@define-color color6 #4E4249
@define-color color7 #897E84
@define-color color8 #60585D
@define-color color9 #969C91
@define-color color10 #48905E
@define-color color11 #7C8384
@define-color color12 #996C76
@define-color color13 #505B63
@define-color color14 #55454F
@define-color color15 #897E84
