@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  /* main window transparent background */
}

tooltip {
  font-family: inherit;
  background: alpha(@bakgrnd, 0.7);
  /* tooltip background */
  border: 1px solid @color13;
  /* tooltip border size and color */
  border-radius: 5px;
  /* tooltip rounded corners */
}

#workspaces button,
#window,
#mpris,
#bluetooth,
#network,
#clock,
#tray,
#cpu,
#battery,
#memory,
#backlight,
#pulseaudio,
#custom-notification {
  /*text-shadow: 1px 1px 2px rgb(0, 0, 0);*/
  /* text shadow, offset-x | offset-y | blur-radius | color */
  background: alpha(@bakgrnd, 0.5);
  /*#15161e default*/
  /* background color */
  margin: 2px 4px 2px 4px;
  /* empty spaces around */
  padding: 1px 10px;
  /* extend pill size, vertical then horizontal */
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0);
  /* pill background shadows */
  border-radius: 10px;
  /*Default 5*/
  /* rounded corners */
  color: @frgrnd;
}

/* extend empty space on both side of the bar,
 * value from ~/.config/hypr/hyprland.conf
 * gaps_out (8px) + border size (2px) = 10px */

/**#tray menu {
    font-weight: bold;
}**/

#workspaces {
  padding: 0 3px;
  /* remove padding around workspace module */
  color: @color2;
}

#workspaces button {
  padding: 4px 4px 4px 4px;
  /* fit with pill padding, 0px for not haveing duped vertical padding, 4px to make a square (4px value from module padding: ...#clock {padding >>4px<< 10px}) */
  margin-left: 0px;
  border: 1px solid @color12;
  transition-property:
    background-color, border-left-color, border-right-color;
  transition-duration: 0.1s;
  font-size: 10px;
  color: @color4;
}

#workspaces button.empty {
  padding: 0px 10px;
}

#workspaces button:first-child {
  margin-left: 0;
}

#workspaces button.active {
  /* active workspace */
  background: @color6;

}

#workspaces button:hover {
  background: @selected;
  /* hovered workspace color */
}

@keyframes blink {
  to {
    background-color: #e64553;
  }
}

#memory {
  color: @color5;
}

#cpu {
  color: @color5;
}

#battery {
  color: @color10;
}

#backlight {
  color: @color10;
}

#tray {
  background: transparent;
  color: @color3;
}

#mpris {
  color: @color15;
}

#window {
  color: @color1;
}

#clock {
  color: @color11
}

#custom-notification {
  color: @selected;
}

#custom-screen_rec_indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 17px;
  color: #f23663;
  margin: 0 7.5px;
}

#pulseaudio-slider {
  padding: 0;
  margin: 0;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background: @bakgrnd;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @frgrnd ;
}
