@define-color background #141412;
@define-color foreground #EBFDF8;
@define-color color1 #AF4BAB;
@define-color color2 #A06E6C;
@define-color color3 #8F8B4A;
@define-color color5 #BE8F82;
@define-color color6 #95BCB1;
