@define-color background #070000;
@define-color foreground #E3E5FF;
@define-color color1 #677086;
@define-color color2 #657871;
@define-color color3 #C05A61;
@define-color color5 #4F8B6B;
@define-color color6 #8388BF;
