
* {
    background:                 #130E10;
    foreground:                 #A9B6BA;

    selected-active-background: #3F555C;
    selected-normal-background: #5E5659;
    selected-urgent-background: #8F4647;
}
