
* {
    background:                 #141412;
    foreground:                 #EBFDF8;

    selected-active-background: #AF4BAB;
    selected-normal-background: #A06E6C;
    selected-urgent-background: #8F8B4A;
}
