
* {
    background:                 #03040B;
    foreground:                 #AAABB2;

    selected-active-background: #40424F;
    selected-normal-background: #5F4252;
    selected-urgent-background: #534884;
}
