/* config - Launcher */

configuration {
	  modi:                         "drun";
    show-icons:                 true;
    display-drun:               " ";
  	drun-display-format:        "{name}\n<span size='small' style='italic'>{generic}</span>";
    font:                        "JetBrains Mono Nerd Font 12";
}

/* Config and colors ----------------------------------------------- */

@import "default.rasi"

/* Main Window ------------------------------------------------ */
window {
    width:                       35%;
    height:                      61%;
    padding:                     1% 0.5%;
}

/* Main Box --------------------------------------------------- */
mainbox {

    children:                    [ "inputbar", "listview"];
    background-color:            transparent;

    spacing:                     1.25%;
    border-color:                @outline;
    padding:                     0.7% 0.7%;
}

/* Inputbar --------------------------------------------------- */
inputbar {
    children:                    [ "entry" ];
    border-color:                @outline;
    background-color:            transparent;
    padding:                     7px 6px;
    orientation:                 horizontal;
    border:                      2px;
    border-radius:               4.5% 2.5%;
}

textbox-prompt-colon {
    expand:                      false;
    str:                         "::";
    background-color:            transparent;
    text-color:                  inherit;
}

/* Entry input ------------------------------------------------ */
entry {
    cursor:                      inherit;
    placeholder:                 "Search";
    placeholder-color:           inherit;
    expand:                      true;
    border-radius:               4.5% 2.5%;
    background-color:            @surface-semi;
    text-color:                  @on-surface;
    padding:                     16px;
}

/* Listview --------------------------------------------------- */
listview {
    cursor:                      "default";
    columns:                     1;
    lines:                       7;
    cycle:                       true;
    dynamic:                     true;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    background-color:            transparent;
    text-color:                  @on-surface;
}

/* Elements --------------------------------------------------- */
element {
    cursor:                      pointer;
    border-radius:               10px 10px;
    background-color:            transparent;
    orientation:                 horizontal;

    spacing:                     0.8%;
    padding:                     10px 20px;
}

element-text {
  text-color:                    @on-surface;
  markup:                        true;
  horizontal-align:              0;
}

element selected.normal {
    border:                      0px;
} 

element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        5%;
    cursor:                      inherit;
}
